{
    skip_install_trust
}

localhost:8443 {
    tls internal

    handle /health {
        respond "healthy" 200
    }

    handle_path /api/* {
        request_body {
            max_size 54MB
        }
        reverse_proxy orchestrator-api:8080
    }

    handle {
        reverse_proxy ui:8081
    }
}
